.layout {
  height: 100vh;

  .main {
    padding: 0 2em 2em;

    .content {
      margin: 2em 0;
      background: #fff;
      padding: 2em;
      min-height: 300;
    }
  }

  .logo {
    width: 120px;
    height: 31px;
    background: $background;
    margin: 16px 28px 16px 0;
    float: left;
  }
}
